{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<main class="container py-5 text-center">
    <form action="/register" method="post">
        <div class="mb-3" id="first">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="confirmation" type="confirmation">
        </div>
        <button class="btn btn-primary mb-3" type="submit">Register</button>
    </form>
</main>
{% endblock %}
