{% extends "layout.html" %}

{% block title %}
    password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="oldpassword" placeholder="oldpassword" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="newpassword" placeholder="newpassword" type="newpassword">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="confirmation" type="confirmation">
        </div>
        <button class="btn btn-primary" type="submit">Update</button>
    </form>
{% endblock %}